#logoContainer {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logoContainer>img {
    padding: 10px;
    padding-top: 20px;
}

#menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

#menu p {
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.focused {
    color: #B90000;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#songList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.song>* {
    margin-right: 15px;
}

.song>p:last-of-type {
    margin-left: auto;
}

.bolder {
    font-weight: bolder;
}

.even {
    background-color: #f2f2f2;
}

#rock {
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg");
    filter: sepia(90%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hiphop {
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg");
    filter: contrast(200%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#indie {
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg");
    filter: grayscale(50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#jazz {
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg");
    filter: hue-rotate(90deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#reggae {
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg");
    filter: saturate(10%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.genreContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.genre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}